BasedOnStyle: LLVM
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackParameters: OnePerLine
BreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Linux
ColumnLimit: 100
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
PPIndentWidth: 1
SeparateDefinitionBlocks: Always
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceBeforeParens: Always
UseTab: Never
