Diagnostics:
    MissingIncludes: Strict
    UnusedIncludes: Strict
---
If:
    PathMatch: empower/.*
CompileFlags:
    Add:
        - -DE_ALLOC_IMPL
        - -DE_ARENA_IMPL
        - -DE_BASE64_IMPL
        - -DE_BCD_IMPL
        - -DE_BITVEC_IMPL
        - -DE_COBS_IMPL
        - -DE_COBSR_IMPL
        - -DE_COMPAT_IMPL
        - -DE_CSTR_IMPL
        - -DE_DA_IMPL
        - -DE_DEBUG_IMPL
        - -DE_INI_IMPL
        - -DE_LOG_IMPL
        - -DE_MACRO_IMPL
        - -DE_MEM_IMPL
        - -DE_RAND_IMPL
        - -DE_SB_IMPL
        - -DE_STDC_IMPL
        - -DE_SV_IMPL
        - -DE_TEST_IMPL
        - -DE_CONFIG_SB_SV_COMPAT
