Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         bugprone-*,
         performance-*,
         portability-*,
         readability-*,
         -bugprone-easily-swappable-parameters,
         -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
         -readability-braces-around-statements,
         -readability-identifier-length,
         -readability-isolate-declaration,
         -readability-magic-numbers,
         -readability-use-concise-preprocessor-directives,
         '

FormatStyle: none

HeaderFilterRegex: '.*'

ExtraArgs:
- -D_XOPEN_SOURCE=600
- -D_POSIX_C_SOURCE=200809L
- -DE_ALLOC_IMPL
- -DE_ARENA_IMPL
- -DE_BASE64_IMPL
- -DE_BITVEC_IMPL
- -DE_COBS_IMPL
- -DE_COBSR_IMPL
- -DE_CSTR_IMPL
- -DE_DEBUG_IMPL
- -DE_INI_IMPL
- -DE_LOG_IMPL
- -DE_MACRO_IMPL
- -DE_MEM_IMPL
- -DE_RAND_IMPL
- -DE_STDC_IMPL
- -DE_TEST_IMPL
